<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Model Config</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list class="list-inset">
    <ion-item-divider>
      <ion-label>Large Language</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-select label="Model" placeholder="{{ llmData.llm_model || '可用模型' }}" labelPlacement="floating" (ionChange)="set_llm_model($event)">
        <ion-select-option *ngFor="let item of llmModelOptions">{{item.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input labelPlacement="floating" [(ngModel)]="llmData.llm_key">
        <div slot="label">API Key</div>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input labelPlacement="floating" [(ngModel)]="llmData.llm_preprompt">
        <div slot="label">System Prompt</div>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input labelPlacement="floating" [(ngModel)]="llmData.llm_temp">
        <div slot="label">Temperature</div>
      </ion-input>
    </ion-item>
    <ion-item-divider style="margin-top: 10px;">
      <ion-label>Speech Recognition</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-select label="Model" placeholder="{{ sttData.stt_model || '可用模型' }}" labelPlacement="floating" (ionChange)="set_stt_model($event)">
        <ion-select-option value="{{item.value}}" *ngFor="let item of sttModelOptions">{{item.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input labelPlacement="floating" [(ngModel)]="sttData.stt_key">
        <div slot="label">API Key</div>
      </ion-input>
    </ion-item>
    <ion-item-divider style="margin-top: 10px;">
      <ion-label>Text To Speech</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-select label="Model" placeholder="{{ ttsData.tts_model || '可用模型' }}" labelPlacement="floating" (ionChange)="set_tts_model($event)">
        <ion-select-option value="{{item.value}}" *ngFor="let item of ttsModelOptions">{{item.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input labelPlacement="floating" [(ngModel)]="ttsData.tts_key">
        <div slot="label">API Key</div>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input labelPlacement="floating" [(ngModel)]="ttsData.tts_role">
        <div slot="label">Role</div>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-button style="margin: 15px 0;width: 100%;" size="default" expand="block" (click)="save()">Save</ion-button>
    </ion-item>
  </ion-list>
</ion-content>