<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Model Config</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list class="list-inset">
    <ion-item-divider>
      <ion-label>Large Language</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-select label="Model" placeholder="可用模型" labelPlacement="floating">
        <ion-select-option value="{{item.value}}" *ngFor="let item of modelList">{{item.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input labelPlacement="floating">
        <div slot="label">API Key</div>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input labelPlacement="floating">
        <div slot="label">System Prompt</div>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input labelPlacement="floating">
        <div slot="label">Temperature</div>
      </ion-input>
    </ion-item>
    <ion-item-divider style="margin-top: 10px;">
      <ion-label>Speech Recognition</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-select label="Model" placeholder="可用模型" labelPlacement="floating">
        <ion-select-option value="{{item.value}}" *ngFor="let item of modelList">{{item.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input labelPlacement="floating">
        <div slot="label">API Key</div>
      </ion-input>
    </ion-item>
    <ion-item-divider style="margin-top: 10px;">
      <ion-label>Text To Speech</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-select label="Model" placeholder="可用模型" labelPlacement="floating">
        <ion-select-option value="{{item.value}}" *ngFor="let item of modelList">{{item.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input labelPlacement="floating">
        <div slot="label">API Key</div>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input labelPlacement="floating">
        <div slot="label">Role</div>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-button style="margin: 15px 0;width: 100%;" size="default" expand="block" (click)="save()">Save</ion-button>
    </ion-item>
  </ion-list>
</ion-content>