.list {
    padding: 15px;
}

.item {
    border-radius: 10px;
    background: #FFF;
    display: flex;
    padding: 5px 15px;
    .avatar{
        width: 50px;
        height: 50px;
        border-radius: 50%;;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #DDD;
        margin-right: 15px;
    }

    .text{
        
    }
}