<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="assets/logo.webp" alt="">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content">
    <h3>Aily Config Tool</h3>
    <div class="data-list">
      <div *ngFor="let item of characteristicList">
        <div class="inner">
          <div class="name">{{item.name}}</div>
          <div class="value-box">
            <div class="value">
              12
              <!-- {{item.uuid | 'value'}} -->
            </div>
            <div class="unit">{{item.unit}}</div>
          </div>
        </div>
      </div>
    </div>

    <ion-button expand="block" [routerLink]="['/wifi-config']">WiFi Config</ion-button>
    <ion-button expand="block" [routerLink]="['/model-config']">Model Config</ion-button>
    <ion-button expand="block" [routerLink]="['/model-config']">Chat Log</ion-button>
  </div>
</ion-content>