<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="assets/logo.webp" alt="">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content">
    <h3>Aily Config Tool</h3>
    <div class="data-list">
      <div *ngFor="let item of characteristicList">
        <div>
          <i class="{{item.icon}}"></i>
        </div>
        <div class="inner">
          <div class="name">{{item.name}}</div>
          <div class="value-box">
            <div class="value">
              12
              <!-- {{item.uuid | 'value'}} -->
            </div>
            <div class="unit">{{item.unit}}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="btn btn1" [routerLink]="['/wifi-config']">
      <div>
        <i class="fa-regular fa-wifi"></i>
      </div>
      WiFi Config
      <div class="arrow">
        <i class="fa-light fa-angle-right"></i>
      </div>
    </div>
    <div class="btn btn2" [routerLink]="['/model-config']">
      <div>
        <i class="fa-regular fa-layer-group"></i>
      </div>
      Model Config
      <div class="arrow">
        <i class="fa-light fa-angle-right"></i>
      </div>
    </div>
    <div class="btn btn3" [routerLink]="['/chat-log']">
      <div>
        <i class="fa-regular fa-message-lines"></i>
      </div>
      Chat Log
      <div class="arrow">
        <i class="fa-light fa-angle-right"></i>
      </div>
    </div>
  </div>
</ion-content>