ion-title {
  img {
    height: 45px;
  }
}

.content{
  padding: 5px 15px;
}

.data-list {
  display: flex;
  flex-wrap: wrap;

  >div {
    margin-bottom: 5px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    .inner {
      width: 40vw;
      height: 55px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }

    .name {
      color: #666;
    }

    .value-box{
      display: flex;
      align-items: flex-end;
    }

    .value {
      color: #333;
      font-size: 1.5em;
      font-weight: bold;
      line-height: 0.9em;
    }

    .unit {
      margin-left: 3px;
      font-size: 0.5em;
      color: #666;
    }
  }
}