ion-title {
  img {
    height: 45px;
  }
}

ion-content {
  --overflow: hidden;
}

.content {
  padding: 5px 15px;
}

.data-list {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 15px);

  >div {
    width: calc(50% - 15px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: #FFF;
    padding: 10px;
    margin-right: 15px;
    margin-bottom: 15px;

    .name {
      color: #666;
      margin-bottom: 3px;
    }

    .value-box {
      display: flex;
      align-items: flex-end;
    }

    .value {
      color: #333;
      font-size: 1.5em;
      font-weight: bold;
      line-height: 0.9em;
    }

    .unit {
      margin-left: 3px;
      font-size: 0.5em;
      color: #666;
    }
  }
}

.btn {
  height: 50px;
  margin-top: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #FFF;
  background: #3980FE;
  padding-left: 15px;

  div:first-child {
    margin-right: 10px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
  }

  &.btn2 {
    background: #FBA60D;
  }

  &.btn3 {
    background: #1196FF;
  }

  .arrow {
    position: absolute;
    right: 30px;
  }
}