.dialog-box {
    display: flex;
    padding-top: 10px;

    ::ng-deep {
        .function {
            padding: 5px 10px;
            border-bottom: 1px solid #bbb;
        }
    }
}

nz-avatar {
    flex-shrink: 0;
}

.bubble {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px 15px;
    background: #ddd;
    width: calc(100% - 30px);
    min-height: 44px;
    border-radius: 0 10px 10px 10px;
    position: relative;

    .tail {
        width: 0;
        height: 0;
        border-bottom: 10px solid transparent;
        border-right: 10px solid #ddd;
        position: absolute;
        top: 0px;
        left: -9px;
    }

    .user-info {
        position: absolute;
        top: -25px;
        left: -7px;

        .name {
            display: flex;

            .prompt-setting {
                margin-left: 15px;
            }
        }
    }

    .content {
        padding: 5px 15px;
        min-height: 45px;
        display: flex;
        align-items: center;
        width: 100%;
        position: relative;
        >div{
            
        }
    }

    .state {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 25px;
        display: flex;
        align-items: center;
        padding: 15px;
        color: #1283d4;
        cursor: pointer;

        i {
            font-size: 16px;
            animation: rrotate 2s linear infinite;
        }

        div {
            margin-left: 5px;
            font-size: 10px;
        }

        &:hover {
            color: #389fff;
        }
    }
}

.mine {
    flex-direction: row-reverse;

    .bubble {
        background: #c6def1;
        border-radius: 10px 0 10px 10px;

        .tail {
            border-bottom: none;
            border-right: none;
            border-bottom: 10px solid transparent;
            border-left: 10px solid #c6def1;
            left: auto;
            right: -9px !important;
        }
    }


}